a {
    color: #748699;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover{
color:#9ebad6;
}

.activeSelected{
    color:#9ebad6;
  }

  .text-nick{
    display: block;
    padding: .5rem 1rem;
    color: #d8d8d8;
  }