.newsHeader{
    padding: 5px;
    color: white;
    font-weight: 500;
    margin-left: 9%;
    margin-right: 10%;
}

.recentGamesHeader{
    padding: 5px;
    color: white;
    font-weight: 500;
    margin-left: 3%;

}

.rankingsHeader{
    padding: 5px;
    color: white;
    font-weight: 500;
    margin-right: 3%;
}

.table td, .table th {
   
    vertical-align: middle;
}

.textShrink {
    font-size:10px;
  }

  .resultScore{
    width: 100px;
    font-weight: 500;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .items-align{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 1%;
  }
  
  .resultScore{
    width: 100px;
    font-weight: 500;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    white-space:nowrap;
  }

  .notBold{
      font-weight: 200;
  }

  .headlines{
    text-transform: uppercase;font-size:12px; background-color: #353573;
  }

  a{
      color:white;
  }