<div class="blocktest">
    <div [ngClass]="router.url === '/csgo' ? 'imageCSnoA' : 'imageCS'" class="blur"  alt="cs:go | Eesports">
        <div *ngIf="router.url === '/csgo'" class="content">
            <ul class="list-group pagination pagination-xs col-lg-4 w-100 align-items-stretch float-right">
                <li>
                    <!--{{post.title}}-->
                </li>
             
                <a href="#" class="list-group-item list-group-item-action text-center d-inline-block" *ngFor="let post of _postArrayResults | paginate: { itemsPerPage: 4, currentPage: p }">
                    <p><small style="color:black">{{post.event}}</small></p>
                    {{post.team1.name}}
                    <img src="{{post.team1.crest}}" width="20px" height="20px" alt="{{post.team1.name}}">
                   <span style="font-weight: 700" [ngStyle]="{'color':post.team1.result > post.team2.result ? 'green':'red'}"> {{post.team1.result}} </span>
                    -
                    <span style="font-weight: 700" [ngStyle]="{'color':post.team2.result > post.team1.result ? 'green':'red'}"> {{post.team2.result}} </span>
                    <img src="{{post.team2.crest}}" width="20px" height="20px" alt="{{post.team2.name}}">
                    {{post.team2.name}}
                    {{post.maps}}
                </a>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </ul>
        </div>
    </div>
</div>