<div class="blocktest">
  <div class="blur imageCSnoA" alt="cs:go | Eesports">
    <div class="content">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-sm-12">
            <table style="margin-top:10%;" class="table  table-hover table-dark text-center">
                <thead>
                    <tr class="text-center">
                        <th scope="col" colspan="7" style="color: #80aad4;">World Ranking</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Points:
                    </td>
                    <td>
                      Placement:
                    </td>
                    <td style="text-align: right;">
                    Team:
                    </td>
                    <td></td>
                    <td>
                      Change +-
                    </td>
                  </tr>
                  <tr *ngFor="let post of _postArrayRanking" (click)="selectId(post.team.id)" style="cursor: pointer;">
                      <td class="point-align">
                        {{post.points}}
                      </td>
                      <td class="placement">
                        {{post.place}}
                      </td>
                      <td class="team-logo">
                          <img src="https://static.hltv.org/images/team/logo/{{post.team.id}}" width="35px" height="35px" alt="{{post.team.name}}">
                      </td>
                      <td class="team-align">
                        {{post.team.name}}
                      </td>
                      <td class="change-align">
                        {{post.change}}
                      </td>
                      <input id="matchId" type="hidden" value="{{post.id}}">
                  </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>