.textShrink {

    overflow: hidden;
    text-overflow: ellipsis;
    font-size:12px;
    float:left;
  }
  
  .team1{
    justify-content: flex-end;
  }
  
  .team1 img{
    margin-left: 8px;
  }
  
  .team2{
    justify-content: flex-start;
  }
  
  .team2 img{
    margin-right: 8px;
  }
  
  .name-align{
    width:25%;
  }
  
  .items-align{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 1%;
  }
  
  .resultScore{
    width: 100px;
    font-weight: 700;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .event{
  
    overflow: hidden;
    text-overflow: ellipsis;
    
  }