.box-holder{
    width:100%;
    height:auto;
    min-height: 35vh;
    background-color:#343a40;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:5vh;
    border-style: solid 1px;
    border-color: #61687459;
}

.logo{
    padding-left: 2%;
    padding-top: 1%;
}

.bottom{
    display: flex;
    height: 100%;
}

.align{
    display: inline-block;
    align-self: flex-end;
}

.rank{
    text-align: right;
    padding-right: 2%;
}
.fa-square{
    font-size: 1.5vw;
}
.fa-twitter{
    font-size: 1.5vw;
}
.fa-facebook{
    padding-top: 3px;
    padding-left: 1px;
    padding-bottom: 2px;
    font-size: 3.4vw;
}
.facebook{
    font-size: 1.5vw;
}
.display{
    flex-wrap: nowrap; 
    z-index: 1;
    width: 100%;
    margin:0;
}
.coverImage{
    background-image: url(https://static.hltv.org/./images/galleries/10061-medium/1485719395.0855.jpeg);
    width: 100%;
    padding-top: 20.88235294%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position:absolute;

}
.coverImage1{
    background-color: #3f4042;
    width: 100%;
    padding-top: 20.882353%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    position: absolute;
}
.app-team-page.ng-star-inserted{
    position: relative !important;
}
.blocktest{
    position: relative !important;
}
