<p>
  match works!
</p>

   
<hr>
      
<div>
    Team1: {{ _postArrayMatch.team1.name}}
  </div>

  <div>
      <img src="https://static.hltv.org/images/team/logo/{{ _postArrayMatch.team1.id}}" height="50" width="50" class="logo"  alt="{{ _postArrayMatch.team1.name}}">
    
    </div>

    <hr>
      
<div>
    Team2: {{ _postArrayMatch.team2.name}}
  </div>

  <div>
      <img src="https://static.hltv.org/images/team/logo/{{ _postArrayMatch.team2.id}}" height="50" width="50" class="logo" alt="{{ _postArrayMatch.team2.name}}">
    
    </div>
    {{ _postArrayMatch.maps[0].name}}
    <Br>
    {{ _postArrayMatch.maps[0].result}}
